.user-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
}

.user-details h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.user-details p {
  margin: 8px 0;
  font-size: 1.1em;
  color: #555;
}

.user-details p strong {
  color: #000;
}
